.turquoise {
  background-color: #1ABC9C;
}

.emerald {
  background-color: #2ECC71;
}

.peter-river {
  background-color: #3498DB;
}

.amethyst {
  background-color: #9B59B6;
}

.wet-asphalt {
  background-color: #34495E;
}

.green-sea {
  background-color: #16A085;
}

.nephritis {
  background-color: #27AE60;
}

.belize-hole {
  background-color: #2980B9;
}

.wisteria {
  background-color: #8E44AD;
}

.midnight-blue {
  background-color: #2C3E50;
}

.sun-flower {
  background-color: #F1C40F;
}

.carrot {
  background-color: #E67E22;
}

.alizarin {
  background-color: #E74C3C;
}
.clouds-0 {
  background-color: #ECF0F1;
}
.clouds-1 {
  background-color: #BDC3C7;
}

.concrete {
  background-color: #95A5A6;
}

.orange {
  background-color: #F39C12;
}

.pumpkin {
  background-color: #D35400;
}

.pomegranate {
  background-color: #C0392B;
}

.asbestos {
  background-color: #7F8C8D;
}
