body{
	font-family: Arial,sans-serif;
	background: #555555;
}
.corpo{
	margin: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.box{
	border-radius: 10px;
	margin: 20px;
	width: 199px;
	height: 100px;
}
.row{
	display: flex;
	flex-direction: row;
}
.box{
	color: white;
	font-weight: bold;
	display: flex;
	align-items: flex-end;
	padding: 15px;
	box-shadow: 15px 15px 0px grey;
}
.box:hover{
	color: black;
}